.navbar {
  background-color: #058997;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 3rem 0;
  height: 30px;
  z-index: 99;

  transition-timing-function: ease-in;
  transition: all 0.5s;

  .navbar-brand {
    color: #fff;
  }

  .navbar-nav {
    margin-left: auto;
    align-items: center;

    .nav-link {
      color: #fff;
      font-size: 1.7rem;
      padding-right: 1rem;
      padding-left: 1rem;
      position: relative;

      &.bell-notification-alert {
        span {
          position: absolute;
          background-color: #8dc043;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          right: 1.1rem;
          top: 1rem;
        }
      }

      &:hover {
        background-color: #8dc043;
        border-radius: 5px;
      }

      .ppImg {
        width: 40px;
        border-radius: 50%;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem 0;
    padding-bottom: 3rem;
  }
}
